// scss全局变量

// 主题背景色
$bg-color: #42b883;

// 侧边栏logo高度
$aside-height: 60px;

// 侧边栏宽度
$aside-width: 240px;

// 侧边栏折叠宽度
$aside-fold-width: 64px;

// 侧边栏背景色
$aside-bg-color: #00152b;

// 顶部导航栏高度
$top-bar-height: 60px;

// 顶部导航栏背景色
$top-bar-bg-color: #e4e4ec;

// main背景色
$main-bg-color: #e4e4ec;
